<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.tutorialspoint.onlineviewer" version = "1.0">
   
   <name> Love </name>
   
   <description>
      by Trung Khiêm
   </description>

   <icon src = "img/heart.png"  
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "img/heart.png" 
      gap:platform = "android" gap:qualifier = "mdpi" />
	
</widget>