body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.653);
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  text-shadow: 0 .2px .3px rgba(0, 0, 0, 0.353);
  background-size: cover;
}

img {
  max-width: 100%;
}

#hop {
  /* Code test width */
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0, .1);
  padding: 1rem;
  width: 60%;
  border-radius: 26px;
}

#thongtin {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 3rem;
  margin-top: 10px;
  position: relative;
}

#info1:first-child {
  flex-grow: 1;
}

#info1 {
  display: flex;
  align-items: center;
}

#info1:last-child #avatar {
  order: 2;
}

#info1:last-child #details {
  text-align: right;
}

#avatar1 {
  width: 70px;
  border-radius: 50%;
}

#info1 #details {
  margin: 0 1rem;
}

#info1 #details p {
  margin: 4px;
}

#details a {
  text-decoration: none;
}

#ten {
  font-size: 15px;
  text-transform: uppercase;
  color: red;
}

#anni {
      display: none;
}

#born {
  font-weight: 300;
  color: black;
}
#born:hover {
  color: blue;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time h2, .time p {
  margin: 0;
  margin-bottom: 4px;
}

.time h2 {
  font-size: 2.8rem;
}

.time p {
  font-size: 1.5rem;
}

.sup-time {
  font-weight: 300;
}

#camon {
  text-align: center;
  margin-top: 6rem;
  font-weight: 100;
  color: red;
  opacity: .8;
  margin-bottom: 0;
}

#title1 {
  opacity: .7;
}

#traitim {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  transform-origin: 50% 50%;
  opacity: .8;
  animation: heartBeat 1s ease-in-out infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(.9);
  }

  45% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(.9);
  }
}

@media (max-width: 997px) {
  #hop {
    width: 90%;
    margin-bottom: 2rem;
  }
  
  #title1 {
    margin: 2rem 0 1rem 0;
    font-size: 18px;
  }
  
  #thongtin {
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 0;
  }

  #info1 {
    flex-direction: column;
  }

  #avatar1 {
    margin-bottom: .5rem;
  }

  #info1 p {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 13px;
  }

  #info1:last-child #avatar {
    order: 0;
  }

  #traitim {
    position: relative;
    margin: 1.4rem 0;
  }

  #camon {
    margin-top: 2rem;
  }
}

@media (max-width: 380px) {
  #myaudio {
    width: 100%;
  }
}

/* Style Music */
/* Music */
.play-music { width: 100%; margin: auto; height: 240px;}

.play-title {
  width: 60%;
  margin: auto;
  text-align: center;
  background-color: teal;
  border-radius: 50px;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
}

#app-cover {position: absolute; right: 0; left: 0; width: 95%; height: 100px; margin: 100px auto 0px;}

/*#bg-artwork { position: fixed; top: -30px; right: -30px; bottom: -30px; left: -30px; background-size: cover; background-position: 50%; filter: blur(4px); -webkit-filter: blur(4px); z-index: 1;}*/

/*#bg-layer
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.51;
  z-index: 2;
}*/

#player { position: relative; height: 100%; z-index: 3;}

#player-track
{
  position: absolute;
  top: -8px;
  right: 15px;
  left: 15px;
  padding: 13px 22px 5px 184px;
  background-color: #f357eb;
  border-radius: 15px 15px 0 0;
  -webkit-transition: 0.3s ease top;
  transition: 0.3s ease top;
  z-index: 1;
}

#player-track.active { top: -95px;}

#album-name { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: white; font-size: 17px; font-weight: bold;}

#track-name { color: white; font-size: 13px; margin: 2px 0 13px 0;}

#track-time
{
  height: 12px;
  margin-bottom: 3px;
  overflow: hidden;
}

#current-time
{
  float: left;
}

#track-length
{
  float: right;
}

#current-time, #track-length
{
  color: transparent;
  font-size: 11px;
  background-color: white;
  border-radius: 10px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
  color: white;
  background-color: transparent;
}

#s-area, #seek-bar
{
  position: relative;
  height: 4px;
  border-radius: 4px;
}

#s-area
{
  background-color: white;
  cursor: pointer;
}

#ins-time
{
  position: absolute;
  top: -29px;
  color: #fff;
  font-size: 12px;
  white-space: pre;
  padding: 5px 6px;
  border-radius: 4px;
display:none;
}

#s-hover
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: 2;
}

#ins-time, #s-hover
{
  background-color: #3b3d50;
}

#seek-bar
{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #4f32f3;
  -webkit-transition: 0.2s ease width;
  transition: 0.2s ease width;
  z-index: 1;
}

#player-content
{
  margin: auto;
  position: relative;
  height: 90px;
  width: 97%;
  background-color: #fff;
  box-shadow: 0 15px 40px #656565;
  border-radius: 15px;
  z-index: 2;
}

#album-art
{
  position: absolute;
  top: -40px;
  width: 115px;
  height: 115px;
  margin-left: 40px;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  box-shadow: 0 0 0 10px #fff;
  border-radius: 50%;
  overflow: hidden;
}

#album-art.active
{
  top: -60px;
  box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

/* Chấm trong giữa ảnh */
/*#album-art:before
{
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: -10px auto 0 auto;
  background-color: #d6dee7;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #fff;
  z-index: 2;
}*/

#album-art img
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

#album-art img.active
{
  opacity: 1;
  z-index: 1;
}

#album-art.active img.active
{
  z-index: 1;
  -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
          animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt
{
  0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
  100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

@keyframes rotateAlbumArt
{
  0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
  100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

#buffer-box
{
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 13px;
  color: #1f1f1f;
  font-size: 13px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  padding: 6px;
  margin: -12px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.19);
  opacity: 0;
  z-index: 2;
}

#album-art img, #buffer-box
{
  -webkit-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

#album-art.buffering img
{
  opacity: 0.25;
}

#album-art.buffering img.active
{
  opacity: 0.8;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box
{
  opacity: 1;
}

#player-controls
{
  width: 170px;
  height: 50px;
  margin: 18px 5px 0 50px;
  float: right;
  overflow: hidden;
}

.control
{
  width: 33.333%;
  float: left;
  padding: 12px 0px;
}

.button
{
  width: 24px;
  height: 24px;
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.button i
{
  display: block;
  color: teal;
  font-size: 23px;
  text-align: center;
  line-height: 1;
}

.button, .button i
{
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}